@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main_container {
    margin: 100px auto 0 auto;
    width: 950px;
    height: 700px;
    background: #544a7d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffd452,
        #544a7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffd452,
        #544a7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    display: flex;
}

.main_container:hover {
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.card {
    margin: 20px auto;
    width: 80%;
    height: 90%;
    background: honeydew;
    border-radius: 5px;
}

.cliente-create__title {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

.form-client {
    margin-left: 100px;
}

.form-client p {
    margin-top: 5px;
}

.form-client input {
    padding: 5px;
    appearance: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.form-client .btn-sub {
    display: block;
    padding: 3px;
    margin-top: 15px;
    background: green;
    cursor: pointer;
    color: ivory;
}

.form-client .btn-sub:hover {
    background: rgb(64, 238, 64);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
